.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header{
    border-bottom: 1.1px solid black;
    height: 90px;
    position: relative;
}
#headerText{
    font-size:40px;
}
body{
    background-color: #f7f7f7;
}
#mainBody{
    background-color: #f7f7f7;
    vertical-align:top;
}
#tabs{
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 30px;
    height: 800px;
}
.box{   
    border: 1px solid;
    width: 250px;
    margin: 20px;
    height: 200px;
    float: left;
    padding: 3px;
    background-color: #fff;
    box-shadow: 0 0 10px #bbb;
}
.box:hover{   
    box-shadow: 0 0 10px #444;
}
.info{
    border-bottom: 1px solid;
    height: 160px;
    position: relative;
    padding: 1px;
}
.name{
    font-size: 16px;
    text-align: center;
}
.type{
    height: 30px;
    position: relative;
    padding: 7px;
}
.typeVal{
    text-align: center;
}
